@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {background-color: #ecf0f1}
.ui.menu .item::before {
	width: 0;
}
.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:first-child:not(.right):not(.borderless) {
	border-left: 0;
}
.ui.floating.label {
	top: 0.2rem;
	left: 80%;
}
.ui.fluid.dropdown {
	width: 100% !important;
}
.ui.segment[class*="bottom attached"] {
	margin-bottom: 1rem !important;
}